body {
    background: #ffffff;
}

.ant-layout {
    background: inherit !important;
}

.ant-layout-header,
.ant-layout-footer,
.ant-layout-sider,
.ant-layout-content {
    background: inherit !important;
    border: 0.1px solid rgba(0, 0, 0, 0.146);
}