body {
    background: #ffffff;
}

.ant-layout {
    background: inherit !important;
}



.app-header {
    background: #F8FAFF;
    border-bottom: 1px solid #1677ff46;
}

.app-layout {
    min-height: 100vh;
}


.app-content {
    background: #e2eafccb;
    /* edf2fb */
}

.app-sider {
    background: #F8FAFF;
    border-right: 1px solid #1677ff46;
    padding-top: 20px;
}

.app-footer {
    background: #F8FAFF;
    text-align: center;
    border-top: 1px solid #1677ff46;
}

.content-header {
    align-items: baseline;
    padding: 20px;
    padding-bottom: 15px;

    gap: 16px;
}

.content-title {
    margin: 0 !important;
    font-weight: 700;
}