body {
    background: var(--bg-main);
}

.ant-layout {
    background: inherit !important;
}

.app-header {
    background: var(--bg-card);
    border-bottom: 1px solid var(--border-main);
}

.app-layout {
    min-height: 100vh;
}

.app-content {
    background: var(--content-bacground);
    /* edf2fb */
}

.app-sider {
    background: var(--bg-card);
    border-right: 1px solid var(--border-main);
    padding-top: 20px;
}

.app-footer {
    background: var(--bg-card);
    text-align: center;
    border-top: 1px solid var(--border-main);
}

.content-header {
    align-items: baseline;
    padding: 20px;
    padding-bottom: 15px;

    gap: 16px;
}

.content-title {
    margin: 0 !important;
    font-weight: 700;
}