.search-input .ant-input {
    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    color: var(--text-main);
}

.sort-select .ant-select-selector {
    background-color: var(--input-bg) !important;
    border: 1px solid var(--input-border) !important;
    color: var(--text-main) !important;
}

.highlight {
    color: var(--primary);
}

.logo-icon {
    padding: 6px;
    color: white;
    font-size: 20px;

    background: linear-gradient(135deg, #22d3ee, #0ea5e9, var(--primary));
    margin-right: 3px;

    border-radius: 10px;
    border: 1px solid var(--input-border);
}