.sidebar-container {
    padding-left: 24px;
    padding-right: 12px;
    min-height: 100vh;
}

.sidebar-title {

    font-size: 13px;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 16px;
}


.sidebar-item {
    cursor: pointer;
    border-radius: 14px;
    padding: 14px 16px !important;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
    transition: all 0.2s ease;
}

.active-item {
    background: linear-gradient(90deg,
            rgba(22, 119, 255, 0.15),
            rgba(22, 119, 255, 0.05));
    color: #1677ff !important;
}

.badge-pill .ant-badge-count {
    background: rgba(163, 230, 53, 0.2);
    color: #1677ff;
    border-radius: 20px;
    box-shadow: none;
}

.red-pill .ant-badge-count {
    background: rgba(244, 63, 94, 0.2);
    color: #f43f5e;
}

.inactive-icon {
    color: #f43f5e;
}

.sidebar-divider {
    border-color: #1e293b !important;
    margin: 24px 0;
}

.department-select {
    width: 100%;
}

.department-select .ant-select-selector {
    background-color: #1e293b !important;
    border: 1px solid #334155 !important;
    border-radius: 12px !important;
}